.imageResultBox {
    margin-top: 0.5rem;
    position: relative;
    background-color: #FBFAFF;
    border-radius: 22px;
    box-shadow: 1px 4px 15px 0px #00000026;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.imageResultBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.expandButton img {
    width: 49px;
    height: 49px;
    object-fit: contain;
}

.expandButton {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.resultPrompt label {
    align-self: flex-start;
    font-weight: 600;
    color: #6663CE;
}

.imageResultButtons {
    display: flex;
    justify-content: flex-end;
}

.imageModalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imageModal {
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.imageModal > img {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 8px;
}

.imageModalClose img {
    height: 100%;
    object-fit: contain;
}

.imageModalClose {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    cursor: pointer;
}

@media (min-height: 1000px) {
    .resultPrompt {
        height: 9rem;
    }
}