.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.container > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container h1 {
    font-size: 1.7rem;
}

.container > div:first-child > p {
    color: #BDBDBD;
    font-size: 0.9rem;
}

.optionPage > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options > div {
    position: relative;
    height: 12rem;
    width: 25rem;
}

.options img {
   width: 100%;
   height: 100%;
   border-radius: 9px;
   object-fit: cover;
}

.options > div > p {
    position: absolute;
    color: white;
    bottom: 1.2rem;
    left: 1.2rem;
    z-index: 1000;
    font-weight: 500;
}

.options > div::after {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 30%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    border-radius: 9px;
}

.optionPage > div:last-child > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.optionPage > div:last-child > div:last-child > div {
    width: 100%;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting span {
    font-size: 0.7rem;
    color: grey;
    font-weight: 500;
}

.setting select {
    width: 25rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(158, 158, 158, 1);
    color: rgba(158, 158, 158, 1);
    appearance: none;
    background-image: url('../assets/select.png');
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

.setting > div {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

.setting button {
    border-radius: 8px;
    border: 1px solid rgba(158, 158, 158, 1);
    background-color: white;
    padding: 1rem;
    color: rgba(158, 158, 158, 1);
    width: 7rem;
}

.summary {
    border: 1px solid rgba(229, 231, 235, 1);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: rgba(248, 249, 250, 1);
    border-radius: 10px;
    padding: 2rem 1.5rem;
}