.optionPage > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options > div {
    position: relative;
    height: 13rem;
    width: 25rem;
}

.options img {
   width: 100%;
   height: 100%;
   border-radius: 9px;
   object-fit: cover;
}

.options > div > p {
    position: absolute;
    color: white;
    bottom: 1.2rem;
    left: 1.2rem;
    z-index: 1;
    font-weight: 500;
}

.options > div::after {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 30%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    border-radius: 9px;
}

.optionPage > div:last-child > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.optionPage > div:last-child > div:last-child > div {
    width: 100%;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#commentedSetting {
    gap: 0.5rem;
}

.setting span {
    font-size: 0.7rem;
    color: grey;
    font-weight: 500;
}

.setting select {
    width: 25rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(158, 158, 158, 1);
    color: rgba(158, 158, 158, 1);
    appearance: none;
    background-color: white;
    background-image: url('../assets/select.png');
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

.setting > div {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

.setting button {
    border-radius: 8px;
    border: 1px solid rgba(158, 158, 158, 1);
    background-color: white;
    padding: 1rem;
    color: rgba(158, 158, 158, 1);
    width: 7rem;
}

.summarise {
    border: 1px solid rgba(229, 231, 235, 1);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: rgba(248, 249, 250, 1);
    border-radius: 10px;
    padding: 1.5rem;
}

.summarise > div:first-child {
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(158, 158, 158, 1);
    padding-bottom: 0.7rem;
    font-weight: 500;
}

.summary {
    display: flex;
    justify-content: space-between;
    color: rgba(158, 158, 158, 1);
    font-weight: 500;
    border-bottom: solid 1px rgba(158, 158, 158, 0.2);
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

.summarise > .summary:last-child {
    border-bottom: none;
}

.selectedOption {
    border: 2px solid rgba(102, 99, 206, 1);
    box-shadow: 0px 0px 10px 0px rgba(102, 99, 206, 0.5);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.71) 67.37%, rgba(78, 78, 78, 0.71) 100%),
        linear-gradient(0deg, rgba(196, 195, 195, 0.2), rgba(196, 195, 195, 0.2));
    border-radius: 11px
}

.setting .selectedButton {
    color: rgba(102, 99, 206, 1);
    background: linear-gradient(0deg, rgba(102, 99, 206, 0.05), rgba(102, 99, 206, 0.05));
    border: 1.5px solid rgba(102, 99, 206, 1);
    box-shadow: 0px 0px 4px 0px rgba(102, 99, 206, 1);
}

@media (max-width: 430px) {
    .options {
        flex-direction: column;
        gap: 1rem;
    }

    .options > div {
        width: 100%;
    }

    .setting select {
        width: 8rem;
    }

    .summarise {
        display: none;
    }
}

@media (min-height: 1000px) {

    .optionPage > div:last-child {
        gap: 3rem;
    }

    .options > div {
        height: 16rem;
    }

    .setting {
        padding: 0.3rem 0;
    }

    .setting select {
        width: 20rem;
    }

    .summarise {
        padding: 2rem;
    }

    .summarise > div:first-child {
        padding-bottom: 1.5rem;
    }

    .summarise > div:last-child {
        padding-bottom: 0;
    }

    .summarise .summary {
        padding: 1rem 0;
    }
}