@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
  font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
}

.container > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container h1 {
    font-size: 1.7rem;
}

.container > div:first-child > p {
    color: #BDBDBD;
    font-size: 0.9rem;
}

.buttonDefault {
  background-color: #6663CE;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  padding: 0.9rem 1.6rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.buttonDefault:hover {
    scale: 0.95;
}

.isInactive {
    background-color: #9E9E9E;
}