.pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

.pageLayoutBar {
    display: flex;
    padding: 1.8rem 6rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #BDBDBD80
}

.pageContent {
    padding: 1.5rem 6rem;
    height: 100%;
}

.pageBottom {
    border-top: 2px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    padding: 1rem 0 2rem 0;
}

.noBackButton {
    justify-content: flex-end;
}

@media (max-width: 430px) {
    .pageLayout .pageLayoutBar {
        padding: 1.4rem 1.8rem;
    }

    .pageLayout > div {
        padding: 1.8rem;
    }

    .pageContent {
        overflow: auto;
    }

    .pageContent * {
        word-break: keep-all;
    }

    .pageLayout .pageBottom {
        margin: 0;
        padding: 1rem 1.8rem;
    }
}

@media (min-height: 1000px) {
    .pageContent {
        padding: 2.5rem 6rem;
    }
}
